---
title: Who am I
nav: projects
subnav: exemplar-home
layout: default
---

<h1>{{ page.title }}</h1>

<p>
  I am 3-rd year student in <a href="http://mipt.ru/en/">Moscow Institute of Physics and Technology</a> and have average ball 9 from 10.
  I study in department of data analysis and my science interests is economics and machine learning. 
  Now I am working on my project <a href="http://quantforces.com">quantforces.com</a> and finding interesting summer intership.
</p>
<p>
  You can get the latest version of my cv <a href="https://drive.google.com/file/d/0B8D6agnNbVNdNHFka0F0UXJ6TlE/view?usp=sharing">here</a> or send me an <a href="mailto:dmitry.ivanovskiy@phystech.edu">email</a>. I am always open to new ideas. 
</p>

<h1>
  My goals:
</h1>

<ol>
  <li>Receive a highly competitive education in the field of discrete mathematics, statistics, and machine learning. <a href="http://mipt.ru/en/">MIPT</a></li>
  <li>Not to miss the opportunity to find the application's own knowledge through internships and own projects. <a href="http://quantforces.com">Quantforces</a></li>
  <li>To develop the level of English and the level of programming, participating in international projects. <a href="https://www.google-melange.com/gsoc/homepage/google/gsoc2015">GSOC</a></li>
</ol>

<!-- <h1>Boxes</h1>
<div id="projects">
  {% for page in site.pages %}
    {% if page.box == true %}
      {% if page.link %}
        <a class="project" href="{{ page.link }}">
      {% else %}
        <a class="project" href="{{ page.url | replace: '/index.html', '' }}">
      {% endif %}
          <div class="project-header">
              <h2>
                  {{ page.title }}
              </h2>
          </div>
          <div class="project-body">
            <p>
                {{ page.summary }}
            </p>
          </div>
        </a>
    {% endif %}
  {% endfor %}
</div> -->
