<div class="github">
  <a href="https://drive.google.com/file/d/0B8D6agnNbVNdNHFka0F0UXJ6TlE/view?usp=sharing"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/img/forkme.png" alt="Download cv.pdf"></a>
</div>
<header>
    <div class="container">
        <div class="profile">
            <div class="social">
                <a href="http://bitbucket.org/deamoon">
                    <div data-picture data-alt="Bitbucket">
                        <div data-src="/img/bitbucket16.png"></div>
                        <div data-src="/img/bitbucket32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/img/bitbucket16.png" alt="Bitbucket"></noscript>
                    </div>
                </a>
                <a href="http://github.com/deamoon">
                    <div data-picture data-alt="Github">
                        <div data-src="/img/octocat16.png"></div>
                        <div data-src="/img/octocat32.png"     data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                        <noscript><img src="/img/octocat16.png" alt="Github"></noscript>
                    </div>
                </a>
            </div>
            <div class="avatar" data-picture data-alt="avatar">
                <div data-src="{% include avatar_url %}?s=54"></div>
                <div data-src="{% include avatar_url %}?s=108" data-media="(-webkit-min-device-pixel-ratio: 2)"></div>
                <noscript><img src="{% include avatar_url %}?s=54" alt="avatar"></noscript>
            </div>
        </div>        
        <h5 class="logo"><a href="/">Dmitrii Ivanovskii</a></h5>
        <nav class="main">
            <ul>
                {% if page.nav == "blog" %}
                    <li><a href="/post" class="active">Blog</a></li>
                {% else %}
                    <li><a href="/post">Blog</a></li>
                {% endif %}
                {% if page.nav == "about" %}
                <li><a href="/about" class="active">About</a></li>
                {% else %}
                <li><a href="/about">About</a></li>
                {% endif %}
                {% if page.nav == "projects" %}
                <li><a href="/projects" class="active">Projects</a></li>
                {% else %}
                <li><a href="/projects">Projects</a></li>
                {% endif %}
            </ul>
        </nav>
        <div class="nav-slider">
            <div class="nav-selection {{ page.nav }}"></div>
        </div>
    </div>
</header>
